/* ------------------------------------------------ */
/* FUNDAMENTALS */
/* ------------------------------------------------ */
html {
	height:100%;
}

body
{
	margin:0;
	padding:0;
	overflow:hidden;
	background-color:#000;
	height:100%;
}

canvas
{
	image-rendering:optimizeSpeed;
}

/* ------------------------------------------------ */
/* LOADING PAGE CSS */
/* ------------------------------------------------ */
#loadingMain {
    display:block;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
	background-color:#000;
	z-index:40000;
}

#loadingDiv
{
	background-image:url(../assets/ui/loading.jpg);
	width:900px;
	height:525px;
	position:absolute;
	top:50%;
	left:50%;
	margin-left:-450px;
	margin-top:-263px;
	border:1px #666 solid;
	overflow:hidden;
}

#loadingDivText {
	position:absolute;
	top:350px;
	left:50%;
	margin-left:-450px;
	width:900px;
	height:30px;
}

.loadingDivText1 {
	background-image:url(../assets/ui/loadingText1.png);
}

.loadingDivText2 {
	background-image:url(../assets/ui/loadingText2.png);
}

.loadingDivText3 {
	background-image:url(../assets/ui/loadingText3.png);
}

.loadingDivText4 {
	background-image:url(../assets/ui/loadingText4.png);
}

.loadingDivText5 {
	background-image:url(../assets/ui/loadingText5.png);
}

.loadingDivText6 {
	background-image:url(../assets/ui/loadingText6.png);
}

.loadingDivText7 {
	background-image:url(../assets/ui/loadingText7.png);
}

.loadingDivText8 {
	background-image:url(../assets/ui/loadingText8.png);
}

.loadingDivText9 {
	background-image:url(../assets/ui/loadingText9.png);
}

#loadingProgress {
	position:absolute;
	top:400px;
	left:50%;
	margin-left:-125px;
	width:250px;
	border-radius:5px;
	border:1px #333;
	background:#222;
	box-shadow:0px 0px 15px 0px #000;
	height:15px;
}

#loadingProgressBar {
	background: #00b7ea; /* Old browsers */
	background: -moz-linear-gradient(top,  #00b7ea 0%, #0079c4 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00b7ea), color-stop(100%,#0079c4)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #00b7ea 0%,#0079c4 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #00b7ea 0%,#0079c4 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #00b7ea 0%,#0079c4 100%); /* IE10+ */
	background: linear-gradient(top,  #00b7ea 0%,#0079c4 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b7ea', endColorstr='#0079c4',GradientType=0 ); /* IE6-9 */

	width:0px;
	border-radius:5px;
	height:15px;
}

/* ------------------------------------------------ */
/* MAIN MENU CSS */
/* ------------------------------------------------ */
.mainMenu_div {
	background-image:url(../assets/ui/splash.jpg);
	width:900px;
	height:525px;
	position:absolute;
	top:50%;
	left:50%;
	margin-left:-450px;
	margin-top:-263px;
	border:1px #666 solid;
	display:none;
}

.mainMenu_menuItem {
	position:relative;
	left:50%;
	margin-left:-100px;
	width:200px;
	text-align:center;
	color:#FFF;
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	padding:10px;
	border:1px #666 solid;
	background-color:#333;
}

.mainMenu_textBox {
	position:absolute;
	left:50%;
	width:200px;
	height:30px;
	margin-left:-100px;
	top:310px;
	text-align:center;
	background-color:#333;
	border:1px #666 solid;
	color:#FFF;
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
}

.mainMenu_button {
	position:absolute;
	left:50%;
	width:214px;
	height:39px;
	margin-left:-107px;
	top:380px;
	background: none;
	border: none;
	display:block;
}

.mainMenu_error {
	position:absolute;
	left:50%;
	width:327px;
	height:22px;
	margin-left:-163px;
	top:350px;
	display:none;
	background-image:url(../assets/ui/splashError1.png);
}

#mainMenu_faceBookLogin {
	width:308px;
	height:60px;
	position:absolute;
	left:50%;
	top:400px;
	margin-left:-154px;
	text-align:center;
}

/* ------------------------------------------------ */
/* VIEWPORT CSS */
/* ------------------------------------------------ */
#mainVp, #miniVp
{
	/*background:#005AFF url(../assets/backgrounds/sky.png) repeat-x;*/
}

#miniVp {
	position:absolute;
	left:10px;
	bottom:10px;
	border:6px #333 solid;
	background:#333;
	display:none;
	/*cursor:pointer;*/
}

#miniVp2 {
	position:absolute;
	left:10px;
	bottom:232px;
	border:6px #333 solid;
	background:#333;
	/*cursor:pointer;*/
}

/* ------------------------------------------------ */
/* LOGGING DIVS CSS */
/* ------------------------------------------------ */
#igeLogDiv {
	position:absolute;
	right:10px;
	bottom:10px;
	width:500px;
	z-index:110000;
	font-family:Verdana, Geneva, sans-serif;
	font-size:10px;
	color:#FFF;
	background-color:#111;
	border:1px solid #666;
	border-radius:10px;
	padding:10px;
	display:none;
}

#igeCordDiv {
	position:absolute;
	right:540px;
	bottom:10px;
	width:100px;
	z-index:110000;
	font-family:Verdana, Geneva, sans-serif;
	font-size:10px;
	color:#FFF;
	background-color:#111;
	border:1px solid #666;
	border-radius:10px;
	padding:10px;
	display:none;
}

#igeNetStatsHolder {
	position:absolute;
	right:10px;
	bottom:50px;
	width:500px;
	height:150px;
	z-index:110000;
	font-family:Verdana, Geneva, sans-serif;
	font-size:10px;
	color:#FFF;
	background-color:#111;
	border:1px solid #666;
	padding:10px;
	overflow:hidden;
	display:none;
}

#igeNetStats {
	width:500px;
	height:150px;
	display:none;
}

/* ------------------------------------------------ */
/* UI CSS */
/* ------------------------------------------------ */
#ui {
	display:none;
}

#uiBar {
	width:100%;
	height:50px;
	background:#222;
	background-position: 0px -22px;
	position:absolute;
	left:0px;
	top:0px;
	z-index:30000;
	box-shadow:0px 0px 15px 0px #000;
}

#uiLogo {
	background-image:url(../assets/ui/logo.png);
    display:block;
    width:117px;
    height:45px;
	z-index:30000;
	margin-top:10px;
	margin-left:10px;
	float:left;
}

.uiMenu {
	background:#222;
	position:absolute;
	z-index:29000;
	display:none;
	top:60px;
	left:10px;
	box-shadow:0px 0px 15px 0px #000;
}

.uiMenuButton {
	width:32px;
	height:32px;
	z-index:30000;
	display:block;
	cursor:pointer;
	float:left;
	background-size:32px;
	margin-top: 9px;
	margin-left: 6px;
}

.uiMenu_sep {
	width:1px;
	height:27px;
	background:#fff;
	margin-left:14px;
	margin-right:8px;
	margin-right:11px;
}

#uiMenuButton_select {
	background-image:url(../assets/ui/uiButton_select.png);
}

#uiMenuButton_move {
	background-image:url(../assets/ui/uiButton_move.png);
}

#uiMenuButton_delete {
	background-image:url(../assets/ui/uiButton_delete.png);
}

#uiMenuButton_land {
	background-image:url(../assets/ui/uiButton_dollar.png);
}

#uiMenuButton_pavement {
	background-image:url(../assets/ui/uiButton_square.png);
}

#uiMenuButton_roads {
	background-image:url(../assets/ui/uiButton_roads.png);
}

#uiMenuButton_buildings {
	background-image:url(../assets/ui/uiButton_house.png);
}

/*#uiMenu_buildings img {
	height:70px;
}*/

#uiFbControls {
	display: block;
	width: 30px;
	height: 45px;
	z-index: 30000;
	margin-top: 7px;
	margin-right: 7px;
	float: right;
}

#uiFbControls #fbProfilePic {
	width:30px;
}

#uiOptions {
	position:absolute;
	bottom:10px;
	right:10px;
	width:300px;
	text-align: right;
	z-index: 1000;
}

.uiMenu .itemGroup {
	float: left;
	height: auto;
	width: 80px;
}

.uiMenu .item {
	float:left;
	margin:0px;
	cursor:pointer;
	overflow:hidden;
	padding: 5px;
	max-width:70px;
}

.uiMenu .item:hover {
	background:#444;
}

.uiMenu .item img {
	width:50px;
	margin: 10px;
}

.uiMenu .item .itemImage {
	width: 50px;
	margin: 10px;
}

.uiMenu .item label {
	clear: left;
	display: block;
	text-align: center;
	color: white;
	font-family: Verdana;
	font-size: 11px;
}

#uiGameTip {
	background:#222;
	display:none;
	color:#fff;
	z-index:30000;
	box-shadow:0px 0px 15px 0px #000;
	position:absolute;
	left:10px;
	top:60px;
	font-family: Verdana;
	font-size: 12px;
	padding: 10px;
}

#uiGameTip .tipTitle {
	font-weight:bold;
	float:left;
}

#uiGameTip .tipText {
	float:left;
	clear:left;
	margin-top:5px;
}

#mainView {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	margin-bottom:-64px;
	display:none;
}